@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Josefin Sans' ,Sans-serif;

}

body{
	background: #fece0c; 
}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 350px;
	width: 1000px;
    background: #fff;
	padding:25px;
	border-radius: 5px; 
	box-shadow: 1px 1px 1px rgba(250,230,164 ,1);
}
	}

.wrapper h2{
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #332902; 
}

.wrapper .input_field{
	margin-bottom: 10px;

}
.wrapper .input_field input[type = "text"],
.wrapper textarea{
	width: 100%;
	border: 1px solid #e0e0e0; 
	padding: 10px;
}

.wrapper textarea{
	height: 80px;
	resize: none;
}

.wraper.btn input[type ="submit"]{
	border: 0px;
}